# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv("Salaries.csv")

** Check the head of the DataFrame. **

In [4]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [5]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [8]:
sal["BasePay"].mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [10]:
sal["OvertimePay"].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [15]:
sal[(sal["EmployeeName"]=="JOSEPH DRISCOLL")]["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [16]:
sal[(sal["EmployeeName"]=="JOSEPH DRISCOLL")]["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [31]:
sal.sort_values("TotalPayBenefits", ascending=False).head(1)[["EmployeeName","TotalPayBenefits"]]

     EmployeeName  TotalPayBenefits
0  NATHANIEL FORD         567595.43

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [32]:
sal.sort_values("TotalPayBenefits", ascending=True).head(1)[["EmployeeName","TotalPayBenefits"]]

       EmployeeName  TotalPayBenefits
148653    Joe Lopez           -618.13

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [37]:
sal.groupby("Year").mean()["BasePay"]

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [38]:
sal["JobTitle"].nunique()

2159

** What are the top 5 most common jobs? **

In [43]:
sal["JobTitle"].value_counts().head(5).sort_values(ascending=False)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [67]:
sum(sal[sal["Year"]==2013]["JobTitle"].value_counts()==1)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [76]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False
    
def chief_string2(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [89]:
# If we split the title, we miss the titles containing "CHIEF,"
sal[(sal['JobTitle']=="BATTALION CHIEF, (FIRE DEPARTMENT)")]["JobTitle"].apply(chief_string2)

6        False
8        False
14       False
18       False
23       False
27       False
34       False
39       False
40       False
41       False
46       False
50       False
63       False
71       False
76       False
79       False
82       False
86       False
90       False
94       False
97       False
100      False
106      False
118      False
127      False
134      False
151      False
152      False
184      False
209      False
210      False
312      False
327      False
421      False
451      False
551      False
570      False
572      False
609      False
616      False
691      False
1479     False
2382     False
4955     False
32623    False
Name: JobTitle, dtype: bool

In [97]:
pd.DataFrame(sal['JobTitle'].apply(len)).join(sal['TotalPayBenefits']).corr()

                  JobTitle  TotalPayBenefits
JobTitle          1.000000         -0.036878
TotalPayBenefits -0.036878          1.000000

# Great Job!