# MIT-GSL Uruguay 

## January 2020

-----

# Week - 2 | Lesson - 03 
# NLP: Product embeddings

1. After introducing the concept of embeddings through NLP, we extend the notion of embeddings to other settings
2. Note that embeddings are dense continuous representations for discrete, sparse tokens - this makes embeddings widely applicable
3. We will use the concept of embeddings to understand the world of e-commerce better

---

# Word2Vec and its Applications to Market-Basket Data

# Instacart Grocery Dataset

### Source: https://www.instacart.com/datasets/grocery-shopping-2017

1. Instacart is an online grocery delivery service
2. They have made available 3M grocery orders for over 200K users
3. They provide between 4 to 100 orders for each user and each order contains the sequence of products purchased
4. We also have a brief description of the products

### Overview:
1. We will use this data to build an understanding of word embeddings and investigate their application to downstream tasks
2. For this purpose, we will consider each purchase basket to be a sentence with an unordered sequence of words

---

# 0. Import Modules

In [97]:
# ==============================================
# 0. Module imports
# ==============================================

import pandas as pd
pd.options.display.max_colwidth = 100
import numpy as np
from itertools import product
import csv

# w2v
import gensim

# text processing
from nltk import sent_tokenize, word_tokenize
from nltk.tokenize import ToktokTokenizer
import string
import re # regular expressions
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.metrics.pairwise import cosine_similarity

# T-Sne
#import umap
#from openTSNE import TSNE, TSNEEmbedding, affinity, initialization
#from openTSNE import initialization
#from openTSNE.callbacks import ErrorLogger
from sklearn.manifold import TSNE


# utils
from sklearn import utils


# parallel processing
import multiprocessing
from joblib import delayed, Parallel

# time code
import time

# 2-d visualiztion
%matplotlib inline
from ggplot import *
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

import os
# os.chdir("/pool001/madhavk/gsl-uruguay/W-02-NLP/")

In [98]:
# =========================================================
# set directories
# =========================================================

import os
EC2 = True  # If using EC2 (for data directory/paths)

# Select path based off of local or remote
if not EC2:
    wd = "/pool001/madhavk/gsl-uruguay/W-02-NLP/"
else:
    wd = "/home/ubuntu/machine_learning_aws/"
os.chdir(wd)

EC2 = True  # If using EC2 (for data directory/paths)
if not EC2:
    # raw data
    raw_data_dir = "nlp-data/in-grocery/instacart_2017_05_01/"
    # processed data
    process_dir = "nlp-data/in-grocery/prepared-data/"  
else:
    # raw data
    raw_data_dir = "data/in-grocery/instacart_2017_05_01"
    # processed data
    process_dir = "data/in-grocery/prepared-data/"

In [99]:
# =========================================================
# processed files
# =========================================================

os.listdir(process_dir)

['orders-split-v1.csv',
 'all-orders-wide-v1.csv',
 'all-orders-long-v1.csv',
 'products-merged-v1.csv']

In [100]:
# =========================================================
# global parameters
# =========================================================

# show entire value of cell in pandas
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_columns', 500)

# number of cpus
cpus = multiprocessing.cpu_count()
f"Number of CPUs: {cpus}"

'Number of CPUs: 4'

------

# 1. Import grocery data

## 1.1. Order level data

In [101]:
# =========================================================
# order-level data
# =========================================================

orders_wide = pd.read_csv(process_dir + "all-orders-wide-v1.csv")
# This data set has one row per order with the products ordered in the product_id column. 
# Products are separated by space.
print(orders_wide.shape)

(3152555, 4)

In [102]:
display(orders_wide.head(10))

,order_id,product_id,num_products,eval
0,2,33120 28985 9327 45918 30035 17794 40141 1819,8,prior
1,3,33754 24838 17704 21903 17668 46667 17461 32665,8,prior
2,4,46842 39758 27761 10054 21351 22598 34862 40285 17616 25146 32645 41276,12,prior
3,5,13176 47329 27966 23909 48370 13245 27360 6348 40878 6184 48002 20914 37011 12962 45698 41176 48366 47209 46522 38693 48825 8479,22,prior
4,7,34050 46802,2,prior
5,9,21405 47890 11182 2014 29193 34203 14992 31506 23288 44533 18362 432 3990 14183,14,prior
6,10,24852 4796 31717 47766 4605 1529 21137 22122 34134 27156 14992 49235 26842 3464 25720,15,prior
7,11,30162 5994 1313 31506,4,prior
8,12,30597 15221 43772 37886 37215 34335 26910 38888 38050 29471,10,prior
9,13,17330 27407 35419 196 44635 26878 25783 41290 33198 23020 36086 3800 25952,13,prior

In [105]:
# =========================================================
# orders meta-data
# =========================================================

orders_meta = pd.read_csv(process_dir + "orders-split-v1.csv")
# This dataset includes the meta data for each order, i.e., the user who ordered it, order day of the week, order time
print(orders_meta.shape)

(3346083, 7)

In [104]:
display(orders_meta.head(10))

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,eval
0,2539329,1,1,2,8,NaN,prior
1,2398795,1,2,3,7,15.0,prior
2,473747,1,3,3,12,21.0,prior
3,2254736,1,4,4,7,29.0,prior
4,431534,1,5,4,15,28.0,prior
5,3367565,1,6,2,7,19.0,prior
6,550135,1,7,1,9,20.0,prior
7,3108588,1,8,1,14,14.0,prior
8,2295261,1,9,1,16,0.0,prior
9,2550362,1,10,4,8,30.0,prior

----

## 1.2. Merge train-val-test split

In [106]:
# =========================================================
# merge orders-wide and orders-meta
# =========================================================

orders_wide.drop(labels = "eval", axis = 1, inplace = True)
orders_wide = pd.merge(orders_wide, # data - 1
                       orders_meta[["order_id", "user_id", "eval"]], # data - 2
                       on = "order_id", # merge key
                       how = "left") # left join
print(orders_wide.shape)

(3152555, 5)

In [107]:
display(orders_wide.head(10))

,order_id,product_id,num_products,user_id,eval
0,2,33120 28985 9327 45918 30035 17794 40141 1819,8,202279,prior
1,3,33754 24838 17704 21903 17668 46667 17461 32665,8,205970,prior
2,4,46842 39758 27761 10054 21351 22598 34862 40285 17616 25146 32645 41276,12,178520,prior
3,5,13176 47329 27966 23909 48370 13245 27360 6348 40878 6184 48002 20914 37011 12962 45698 41176 48366 47209 46522 38693 48825 8479,22,156122,prior
4,7,34050 46802,2,142903,prior
5,9,21405 47890 11182 2014 29193 34203 14992 31506 23288 44533 18362 432 3990 14183,14,139016,prior
6,10,24852 4796 31717 47766 4605 1529 21137 22122 34134 27156 14992 49235 26842 3464 25720,15,135442,prior
7,11,30162 5994 1313 31506,4,143742,prior
8,12,30597 15221 43772 37886 37215 34335 26910 38888 38050 29471,10,152610,prior
9,13,17330 27407 35419 196 44635 26878 25783 41290 33198 23020 36086 3800 25952,13,45082,prior

In [108]:
# =========================================================
# eval-set distribution
# =========================================================

orders_wide["eval"].value_counts()

prior    2959079
train    116333
val      38701
test     38442
Name: eval, dtype: int64

In [109]:
# clear some space
del orders_meta

----

## 1.3. Import product info data

In [110]:
products = pd.read_csv(process_dir + "products-merged-v1.csv")
print(products.shape)

(49688, 6)

In [111]:
display(products.head(10))

,product_id,product_name,aisle_id,department_id,aisle,department
0,1,Chocolate Sandwich Cookies,61,19,cookies cakes,snacks
1,2,All-Seasons Salt,104,13,spices seasonings,pantry
2,3,Robust Golden Unsweetened Oolong Tea,94,7,tea,beverages
3,4,Smart Ones Classic Favorites Mini Rigatoni With Vodka Cream Sauce,38,1,frozen meals,frozen
4,5,Green Chile Anytime Sauce,5,13,marinades meat preparation,pantry
5,6,Dry Nose Oil,11,11,cold flu allergy,personal care
6,7,Pure Coconut Water With Orange,98,7,juice nectars,beverages
7,8,Cut Russet Potatoes Steam N' Mash,116,1,frozen produce,frozen
8,9,Light Strawberry Blueberry Yogurt,120,16,yogurt,dairy eggs
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,water seltzer sparkling water,beverages

In [112]:
#===============================================
# top departments
#===============================================
products["department"].value_counts()

personal care      6563
snacks             6264
pantry             5371
beverages          4365
frozen             4007
dairy eggs         3449
household          3085
canned goods       2092
dry goods pasta    1858
produce            1684
bakery             1516
deli               1322
missing            1258
international      1139
breakfast          1115
babies             1081
alcohol            1054
pets               972
meat seafood       907
other              548
bulk               38
Name: department, dtype: int64

-----

### In-class exercise

In [77]:
#===============================================
# top aisles
#===============================================
# can you figure out which aisles host the most number of products?
products["aisle"].value_counts(20)

missing                          0.025318
candy chocolate                  0.025076
ice cream ice                    0.021957
vitamins supplements             0.020890
yogurt                           0.020649
chips pretzels                   0.019904
tea                              0.017992
packaged cheese                  0.017932
frozen meals                     0.017711
cookies cakes                    0.017590
energy granola bars              0.016744
hair care                        0.016422
spices seasonings                0.016040
juice nectars                    0.015939
crackers                         0.015034
soup broth bouillon              0.014833
baby food formula                0.014450
coffee                           0.013685
refrigerated                     0.013585
cleaning products                0.013182
baking ingredients               0.012538
packaged vegetables fruits       0.012377
asian foods                      0.012176
nuts seeds dried fruit           0.011713
fresh vegetables                 0.011451
oral hygiene                     0.011371
salad dressing toppings          0.011270
bread                            0.011210
other                            0.011029
instant foods                    0.010928
                                   ...
mint gum                         0.003381
cream                            0.003240
tofu meat alternatives           0.003200
butter                           0.003019
white wines                      0.002958
prepared soups salads            0.002938
baby bath body care              0.002657
eggs                             0.002516
fresh pasta                      0.002475
eye ear care                     0.002274
frozen dessert                   0.002254
trash bags liners                0.002254
indian foods                     0.002174
meat counter                     0.002113
packaged meat                    0.002013
packaged poultry                 0.001992
refrigerated pudding desserts    0.001972
specialty wines champagnes       0.001912
fresh herbs                      0.001731
ice cream toppings               0.001711
poultry counter                  0.001650
frozen breads doughs             0.001630
packaged seafood                 0.001610
trail mix snack mix              0.001389
seafood counter                  0.001087
frozen juice                     0.000946
baby accessories                 0.000886
packaged produce                 0.000644
bulk grains rice dried goods     0.000523
bulk dried fruits vegetables     0.000242
Name: aisle, dtype: float64

---

# 2. Data exploration

In [78]:
# long-form of orders
orders_long = pd.read_csv(process_dir + "all-orders-long-v1.csv")
print(orders_long.shape)

(32019330, 5)

In [79]:
# top-20 observations in the data frame
display(orders_long.head(20))

    order_id  product_id  add_to_cart_order  reordered   eval
0   2         33120       1                  1          prior
1   2         28985       2                  1          prior
2   2         9327        3                  0          prior
3   2         45918       4                  1          prior
4   2         30035       5                  0          prior
5   2         17794       6                  1          prior
6   2         40141       7                  1          prior
7   2         1819        8                  1          prior
8   3         33754       1                  1          prior
9   3         24838       2                  1          prior
10  3         17704       3                  1          prior
11  3         21903       4                  1          prior
12  3         17668       5                  1          prior
13  3         46667       6                  1          prior
14  3         17461       7                  1          prior
15  3         32665       8                  1          prior
16  4         46842       1                  0          prior
17  4         39758       3                  1          prior
18  4         27761       4                  1          prior
19  4         10054       5                  1          prior

## 2.1. Most frequently purchased products

In [80]:
# most frequently bought products
most_freq_purchased = pd.DataFrame(orders_long["product_id"].value_counts()) # count the number times each product-id appears in data frame
most_freq_purchased.reset_index(drop = False, inplace = True) # complying with pandas indexing 
most_freq_purchased.columns = ["product_id", "freq"] # assign column names
display(most_freq_purchased.head(10))

   product_id    freq
0  24852       491291
1  13176       394930
2  21137       275577
3  21903       251705
4  47209       220877
5  47766       184224
6  47626       160792
7  16797       149445
8  26209       146660
9  27845       142813

In [81]:
# merge with product info from the meta dataset
most_freq_purchased = pd.merge(most_freq_purchased, 
                               products, 
                               on = "product_id", 
                               how = "left")
display(most_freq_purchased.head(20))

,product_id,freq,product_name,aisle_id,department_id,aisle,department
0,24852,491291,Banana,24,4,fresh fruits,produce
1,13176,394930,Bag of Organic Bananas,24,4,fresh fruits,produce
2,21137,275577,Organic Strawberries,24,4,fresh fruits,produce
3,21903,251705,Organic Baby Spinach,123,4,packaged vegetables fruits,produce
4,47209,220877,Organic Hass Avocado,24,4,fresh fruits,produce
5,47766,184224,Organic Avocado,24,4,fresh fruits,produce
6,47626,160792,Large Lemon,24,4,fresh fruits,produce
7,16797,149445,Strawberries,24,4,fresh fruits,produce
8,26209,146660,Limes,24,4,fresh fruits,produce
9,27845,142813,Organic Whole Milk,84,16,milk,dairy eggs
10,27966,142603,Organic Raspberries,123,4,packaged vegetables fruits,produce
11,22935,117716,Organic Yellow Onion,83,4,fresh vegetables,produce
12,24964,113936,Organic Garlic,83,4,fresh vegetables,produce
13,45007,109412,Organic Zucchini,83,4,fresh vegetables,produce
14,39275,105026,Organic Blueberries,123,4,packaged vegetables fruits,produce
15,49683,99728,Cucumber Kirby,83,4,fresh vegetables,produce
16,28204,92889,Organic Fuji Apple,24,4,fresh fruits,produce
17,5876,91251,Organic Lemon,24,4,fresh fruits,produce
18,40706,88078,Organic Grape Tomatoes,123,4,packaged vegetables fruits,produce
19,8277,87272,Apple Honeycrisp Organic,24,4,fresh fruits,produce

----

### In-class exercise

In [82]:
# Can you figure out the least popular products?
most_freq_purchased.tail()

,product_id,freq,product_name,aisle_id,department_id,aisle,department
14335,33010,204,Old Vine Zin,28,5,red wines,alcohol
14336,19200,204,"Truffle, Nut Butter, Cacao Almond",45,19,candy chocolate,snacks
14337,42833,202,Mango Apricot Fruit Snack,50,19,fruit vegetable snacks,snacks
14338,36668,202,Peanut Butter Filled Pretzel Nuggets,107,19,chips pretzels,snacks
14339,7882,202,Chocolate Coconut Almond Protein Nut Bar,3,19,energy granola bars,snacks

In [83]:
# most popular aisle
aisle = most_freq_purchased.groupby("aisle").agg({"freq": "sum"})
aisle = aisle.reset_index(drop = False, inplace = False).sort_values("freq", ascending = False)
display(aisle)

                             aisle     freq
50   fresh fruits                   3782826
53   fresh vegetables               3553596
98   packaged vegetables fruits     1823815
133  yogurt                         1475395
93   packaged cheese                990483
83   milk                           918611
131  water seltzer sparkling water  868265
25   chips pretzels                 717827
119  soy lactosefree                655592
11   bread                          588261
110  refrigerated                   576416
62   frozen produce                 531602
71   ice cream ice                  481546
41   eggs                           469660
32   crackers                       450180
42   energy granola bars            443376
80   lunch meat                     397936
51   fresh herbs                    391069
24   cereal                         379548
59   frozen meals                   370817
4    baby food formula              368922
49   fresh dips tapenades           359114
117  soft drinks                    355543
118  soup broth bouillon            333548
33   cream                          325353
75   juice nectars                  318159
6    baking ingredients             316350
92   other creams cheeses           315027
70   hot dogs bacon sausage         304344
88   nuts seeds dried fruit         298342
..                      ...            ...
14   bulk dried fruits vegetables   17513
15   bulk grains rice dried goods   16816
35   diapers wipes                  16737
84   mint gum                       16038
57   frozen dessert                 15414
7    baking supplies decor          15037
36   digestion                      14523
38   dog food care                  14218
87   muscles joints pain relief     12665
73   indian foods                   12282
27   cocoa drink mixes              11736
29   cold flu allergy               10426
86   more household                 9656
67   hair care                      8842
46   feminine care                  8797
0    air fresheners candles         8580
72   ice cream toppings             8540
121  specialty wines champagnes     8332
2    baby accessories               7405
77   kosher foods                   7149
45   facial care                    5222
44   eye ear care                   4915
3    baby bath body care            3974
34   deodorants                     3800
76   kitchen supplies               3612
47   first aid                      3261
115  skin care                      3185
58   frozen juice                   3105
114  shave needs                    2711
8    beauty                         2664

[134 rows x 2 columns]

----

### In-class exercise

In [84]:
# Can you figure out the most popular department, i.e., the department from where most products are purchased?
most_popular_department = most_freq_purchased.groupby ("department").agg ({"freq" : "sum"})
mpst_popular_department = most_popular_department.reset_index()
most_popular_department.head()

               freq
department
alcohol     123711
babies      397038
bakery      1168021
beverages   2641843
breakfast   701107

In [62]:
# most purchased department

-----

## 2.2. Co-purchased products

In [85]:
# ===========================================
# Generate co-purchase matrix
# ===========================================

def CoPurchaseMatrix(orders_wide, product_info = True):
    '''
    orders_wide is order-level data with one row per order
    '''
    count_vec = CountVectorizer(ngram_range = (1,1), binary = True, 
                            token_pattern = "\\b\\w+\\b") # sku counts
    pur_mat = count_vec.fit_transform(orders_wide["product_id"])
    co_pur_mat = (pur_mat.T * pur_mat) #copurchase matrix
    co_pur_mat.setdiag(0) # set diagonal to 0
    co_pur_mat_df = pd.DataFrame(co_pur_mat.todense()) # convert to data frame
    co_pur_mat_df.index = count_vec.vocabulary_ # row names from sku-ids
    co_pur_mat_df.columns = count_vec.vocabulary_ # column names from sku-ids
    co_pur_mat_df = co_pur_mat_df.where(np.triu(np.ones(co_pur_mat_df.shape)).astype(np.bool)) # consider the uppre tri
    co_pur_mat_df = co_pur_mat_df.stack().reset_index() # melt to sku-1 and sku-2 per row
    co_pur_mat_df.columns = ["product_id_1", "product_id_2", "copur"]
    co_pur_mat_df = co_pur_mat_df.loc[co_pur_mat_df["copur"] > 0, :] # subset for copur > 0
    co_pur_mat_df_top = co_pur_mat_df.sort_values(["product_id_1", "copur"], ascending = False)
    co_pur_mat_df_top = co_pur_mat_df_top.drop_duplicates(["product_id_1"], keep = "first")
    co_pur_mat_df_top["product_id_1"] = co_pur_mat_df_top["product_id_1"].astype(int) # fix data types
    co_pur_mat_df_top["product_id_2"] = co_pur_mat_df_top["product_id_2"].astype(int) # fix data types
    co_pur_mat_df_top = co_pur_mat_df_top.sort_values(["copur"], ascending = False).reset_index(drop = True)
    if product_info:
        co_pur_mat_df_top = pd.merge(co_pur_mat_df_top, products, how = "left", 
                                     left_on = "product_id_1", right_on = "product_id")
        co_pur_mat_df_top.drop("product_id", axis = 1, inplace = True)
        co_pur_mat_df_top = pd.merge(co_pur_mat_df_top, products, how = "left",
                                     left_on = "product_id_2", right_on = "product_id", 
                                     suffixes = ["_1", "_2"])
        co_pur_mat_df_top.drop("product_id", axis = 1, inplace = True)
        col_order = ['product_id_1', 'product_id_2', 'copur', 'product_name_1', 'product_name_2',
                             'aisle_1', 'aisle_2', 'department_1', 'department_2', 
                             'aisle_id_1', 'aisle_id_2', 'department_id_1', 'department_id_2']
        co_pur_mat_df_top = co_pur_mat_df_top[col_order]
    return(co_pur_mat_df_top)

In [64]:
# calculate copurchases
copur = CoPurchaseMatrix(orders_wide = orders_wide, product_info = True)
print(copur.shape)

(14332, 13)

In [86]:
display(copur[["product_name_1", "product_name_2", "copur", "aisle_1", "aisle_2"]].head(20))

,product_name_1,product_name_2,copur,aisle_1,aisle_2
0,Organic Lacinato (Dinosaur) Kale,Soft Eating Strawberry Flavored Licorice,64761.0,fresh vegetables,candy chocolate
1,"Mighty 4 Sweet Potato, Blueberry, Millet & Greek Yogurt Tots Snack",Nut Delight Fruit & Nut Bar,58330.0,baby food formula,energy granola bars
2,Nut Delight Fruit & Nut Bar,Carrot Bunch,55611.0,energy granola bars,fresh vegetables
3,Natural Finely Shredded Triple Cheddar Cheese,Nut Delight Fruit & Nut Bar,53395.0,packaged cheese,energy granola bars
4,Italian Style Meatballs & Mozzarella Sandwiches,Nut Delight Fruit & Nut Bar,43180.0,frozen meals,energy granola bars
5,Organic Granny Smith Apples,Garlic Spice Blend Paste,28998.0,fresh fruits,packaged vegetables fruits
6,Pecan Pie Fruit & Nut Food Bar,Soft Eating Strawberry Flavored Licorice,26812.0,energy granola bars,candy chocolate
7,Garlic Spice Blend Paste,Carrot Bunch,25766.0,packaged vegetables fruits,fresh vegetables
8,"Almond Coconut Bar, Organic",2nd Foods Organic Pear and Spinach Baby Food,22923.0,energy granola bars,baby food formula
9,Soft Eating Strawberry Flavored Licorice,Spicy Minis Guacamole,22027.0,candy chocolate,fresh dips tapenades
10,2nd Foods Organic Pear and Spinach Baby Food,Soft Eating Strawberry Flavored Licorice,18354.0,baby food formula,candy chocolate
11,Reduced Sugar Craisins,Soft Eating Strawberry Flavored Licorice,18287.0,nuts seeds dried fruit,candy chocolate
12,Chicken Cooking Stock,Soft Eating Strawberry Flavored Licorice,17109.0,soup broth bouillon,candy chocolate
13,Carrot Bunch,Organic Pacific Nori,15973.0,fresh vegetables,asian foods
14,"Skin DeTox, Tea Bags",Nut Delight Fruit & Nut Bar,15948.0,tea,energy granola bars
15,Coffee Mexican Vanilla,Nut Delight Fruit & Nut Bar,15823.0,coffee,energy granola bars
16,Organic 4 Months Butternut Squash Carrots Apples + Prunes Baby Food,Nut Delight Fruit & Nut Bar,15823.0,baby food formula,energy granola bars
17,Plain Unsalted Rice Cakes,"Mighty 4 Sweet Potato, Blueberry, Millet & Greek Yogurt Tots Snack",15763.0,crackers,baby food formula
18,Meatloaf,Soft Eating Strawberry Flavored Licorice,15253.0,frozen meals,candy chocolate
19,Light & Lean Roasted Polenta With Swiss Chard,Nut Delight Fruit & Nut Bar,14978.0,frozen meals,energy granola bars

----

# 3. Split train-val-test datasets

In [87]:
#===============================================
# split train-val-test
#===============================================

train = orders_wide.loc[orders_wide["eval"].isin(["prior", "train"]), :]
val = orders_wide.loc[orders_wide["eval"] == "val", :]
test = orders_wide.loc[orders_wide["eval"] == "test", :]
print("train size:", train.shape)
print("val size:", val.shape)
print("test size:", test.shape)

train size: (3075412, 5)
val size: (38701, 5)
test size: (38442, 5)

In [67]:
# clear more space
# del orders_wide, orders_long

In [88]:
display(train.head())

,order_id,product_id,num_products,user_id,eval
0,2,33120 28985 9327 45918 30035 17794 40141 1819,8,202279,prior
1,3,33754 24838 17704 21903 17668 46667 17461 32665,8,205970,prior
2,4,46842 39758 27761 10054 21351 22598 34862 40285 17616 25146 32645 41276,12,178520,prior
3,5,13176 47329 27966 23909 48370 13245 27360 6348 40878 6184 48002 20914 37011 12962 45698 41176 48366 47209 46522 38693 48825 8479,22,156122,prior
4,7,34050 46802,2,142903,prior

## 3.1. Random sample for faster processing

In [89]:
#===============================================
# randomly sample training data
#===============================================

sample_size = 1000000
train = train.sample(n = sample_size)
train = train.reset_index(drop = True)
print(train.shape)

(1000000, 5)

In [90]:
display(train.head(10))

,order_id,product_id,num_products,user_id,eval
0,1920048,3957 19272 43619 23334 42513 48110,6,184468,prior
1,1652703,36472 42447 13914,3,16057,prior
2,2810532,36393 35413 44213 39277 5067 35383 38028 47766 49265 32553 49534 24780 19068 27706 24097 5923,16,50475,prior
3,527156,24852 28204 39877 37731 33007 46486 22236 38407 38267 33575 9292,11,54729,prior
4,1621898,49235 1729 13176 3298 6184 41787 13575 31651 20955 8843 39657,11,50121,prior
5,1236074,7401 47547 24852 47144 30583 32465 28601 44142 16797 43961 17634 47766 18027 27783 21903 43789 23484 44570 46667 5380 26209 33120,22,162332,prior
6,2559627,12419 13984 49683,3,80403,prior
7,3231212,41836 4217 13176 27966 30450 41329 21137 3098 39928,9,78481,prior
8,1233569,16518 20985 40189 43933 1069 13249 18115 23763 28384,9,56162,prior
9,2381098,27086 32124 19348 37774 41596,5,131708,prior

## 3.2. Tokenize sentences

In [113]:
# start pool process for parallel procressing
pool = multiprocessing.Pool(processes = cpus)

In [115]:
# text processing
from nltk import sent_tokenize, word_tokenize
import nltk
nltk.download("punkt")

[nltk_data] Downloading package punkt to /home/ubuntu/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [119]:
# training sentences
t0 = time.time()
train_orders = pool.map(word_tokenize, train["product_id"])
t1 = time.time()
print(len(train_orders))

1000000

In [120]:
# time taken
print(f"Time Taken: {t1 - t0}")

Time Taken: 61.746809244155884

In [121]:
# training orders
train_orders[0:3]

[['3957', '19272', '43619', '23334', '42513', '48110'],
 ['36472', '42447', '13914'],
 ['36393',
  '35413',
  '44213',
  '39277',
  '5067',
  '35383',
  '38028',
  '47766',
  '49265',
  '32553',
  '49534',
  '24780',
  '19068',
  '27706',
  '24097',
  '5923']]

In [95]:
# validation sentences
t0 = time.time()
val_orders = pool.map(word_tokenize, val["product_id"])
t1 = time.time()
print(len(val_orders))

LookupError:
**********************************************************************
  Resource punkt not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt/PY3/english.pickle

  Searched in:
    - '/home/ubuntu/nltk_data'
    - '/home/ubuntu/conda/envs/conda_env/nltk_data'
    - '/home/ubuntu/conda/envs/conda_env/share/nltk_data'
    - '/home/ubuntu/conda/envs/conda_env/lib/nltk_data'
    - '/usr/share/nltk_data'
    - '/usr/local/share/nltk_data'
    - '/usr/lib/nltk_data'
    - '/usr/local/lib/nltk_data'
    - ''
**********************************************************************

----

### In-class exercise

In [ ]:
# what do the first three validation orders look like?

In [ ]:
# Can you similarly tokenize the test sentences?
#print(len(test_orders))

----

# 4. Word2Vec sample model

## 4.1. Define and train model

In [122]:
#===============================================
# define and train model
#===============================================

w2v_1 = gensim.models.Word2Vec(sentences = train_orders,
                               workers = multiprocessing.cpu_count(),
                               seed = 1234)

## Model properties

In [123]:
#===============================================
# vocabulary
#===============================================

# vocabulary length
f"Vocab length: {len(w2v_1.wv.vocab)}"

'Vocab length: 14340'

In [124]:
# sample vocabulary
list(w2v_1.wv.vocab.keys())[0:5]

['3957', '19272', '43619', '23334', '42513']

In [125]:
# length of corpus
print(w2v_1.corpus_count)

1000000

In [126]:
# number of iterations
w2v_1.iter

5

In [127]:
#===============================================
# product vectors
#===============================================

# enter product-id
prod_id = "1"
print(w2v_1[prod_id].shape)
print("------------")
print("------------")
print(w2v_1[prod_id])

(100,)
------------
------------
[-0.2921951  -0.2774933   0.31231406 -1.1459032  -1.4384844  -1.1607298
  1.6184446   0.4362589   0.909341   -0.6156968   1.1243443  -0.37178704
 -0.82659835  1.6588186  -0.34234384  0.6741424  -0.0677434  -1.434942
 -0.99877584  0.39590904  0.07212728 -1.7302359  -0.21895796 -0.6425624
 -0.8210384  -0.23151484 -0.5304251  -0.41955924 -1.0081178  -0.00656103
  0.654342   -0.13712059  1.0331649   1.1863514  -1.1256733  -0.07807098
 -0.11406675 -0.15463354  0.6124659  -0.9900952  -0.4467069   0.4289477
  1.3069983  -0.12499543 -0.35292172  0.50832486  0.17547204 -0.5785667
 -0.5113401  -1.0544978  -0.8591493  -2.0054648  -0.02709961 -1.1678647
  1.5761309  -0.457774    0.889638   -0.33484557 -0.0335529  -0.18968026
  1.2397945  -0.22408889 -1.1410028   0.16403967  0.85970885 -0.9953738
 -0.6473702  -0.4719187  -0.63030416 -0.9175818   1.4980906  -1.4095701
  0.6689633   0.6366983  -0.5289587  -1.2240313  -0.28747854  0.67555565
  0.5956626   0.2233737   0.3035147   0.04840464 -0.48479745 -0.57869625
 -0.43405172  1.2518218   0.49905366 -0.8907738  -0.66099226 -0.07805088
 -0.74046177  0.46760008 -0.24653737  0.45473936 -0.9323861  -0.41951105
 -0.05197878 -0.05730959  0.6277776   0.9349959 ]

## 4.2. Update embeddings

In [128]:
#===============================================
# update model weights
#===============================================
w2v_1.train(sentences = train_orders, total_examples = w2v_1.corpus_count, epochs = 2)

(19271435, 20149918)

## 4.3. Inspect model output

In [129]:
#===============================================
# upadted product vectors
#===============================================

# enter product-id
prod_id = "1"
print(w2v_1[prod_id].shape)
print("------------")
print("------------")
print(w2v_1[prod_id])

(100,)
------------
------------
[-0.18340307 -0.20473765  0.30213296 -1.1181437  -1.3066211  -1.458569
  1.7810853   0.4266802   0.8892755  -0.8095327   1.2402048  -0.32980502
 -0.7600837   1.7743658  -0.23045318  0.78598017  0.02757921 -1.8541154
 -1.2626029   0.3881608   0.02119995 -1.9186949  -0.11266865 -0.53185076
 -1.0318774  -0.41306818 -0.42572448 -0.15743604 -1.0020565   0.21490434
  0.37838268 -0.04162845  1.2247268   1.6842422  -0.8747928  -0.07366025
 -0.21311611 -0.38670984  0.49484226 -0.7695396  -0.47592476  0.5491736
  1.5614605  -0.19499493 -0.49245828  0.47697645  0.2620305  -0.6057889
 -0.4794761  -1.1938281  -0.733495   -2.4463716   0.32225138 -1.1411351
  1.6853437   0.08987441  0.9156961  -0.3714626  -0.28918737  0.01321717
  1.1110734  -0.21424322 -1.3548983   0.18955217  1.0688572  -1.0807366
 -0.8930868  -0.5858282  -0.66466165 -1.0500202   1.464872   -1.8489985
  0.6587399   0.73248816 -0.66879237 -1.3105719  -0.3379013   0.8618283
  0.6457335   0.24330069  0.4228539  -0.0977502  -0.36802402 -0.70536244
 -0.61886847  1.0855557   0.2961259  -0.880085   -0.90863603  0.20103732
 -0.65601176  0.5366191  -0.39790207  0.48659974 -1.0404685  -0.46883833
 -0.11555921 -0.46153075  0.73216736  0.7193515 ]

--------

# 5. Improve W2V model

In [ ]:
#===============================================
# model parameters
#===============================================

# size of embedding matrix
emb_size = 100

# context window size
cxt_window = 10

# batch size for gradient update
batch_size = 10000

# down-sample high frequency words
hfs = 0.001

# learning rate
lr = 0.05

In [131]:
#===============================================
# define model
#===============================================

w2v_1 = gensim.models.Word2Vec(sentences = train_orders,
                               size = emb_size, # number of columns in embedding matrix
                               hs = 1, # hierarchical softmax
                               negative = 0, # negative sampling
                               window = cxt_window, # context window
                               min_count = 1, # minimum frequency count
                               batch_words = batch_size, # batch size for update
                               alpha = lr, # learning rate
                               sample = hfs, # down sample high frequency words 
                               workers = cpus,
                               seed = 1234)

## 5.1. Score on validation and test

In [132]:
#===============================================
# Score model to get log-likelihood
#===============================================

def ScoreW2V(test_sent, model, normalize = True, avg_over_sent = True):
    test_score = model.score(test_sent, total_sentences = len(test_sent), 
                             chunksize = 100,
                             queue_factor = 2,
                             report_delay = 1)
    if normalize:
        test_score = [test_score[x]/len(test_sent[x]) for x in range(len(test_sent))]
    else:
        test_score = list(test_score)
    if avg_over_sent:
        test_score = np.mean(test_score)
    return test_score

In [133]:
w2v_1_val = ScoreW2V(test_sent = val_orders, model = w2v_1, normalize = True, avg_over_sent = True)

NameError: name 'val_orders' is not defined

In [ ]:
w2v_1_val

## 5.2. Similar products

In [ ]:
#===============================================
# similar products
#===============================================

# sample product
prod_id = "10"

# product info for sample product
display(products.loc[products["product_id"].isin([prod_id]), :])

In [ ]:
#===============================================
# similarity from model
#===============================================

w2v_1.wv.most_similar(prod_id)

In [ ]:
#===============================================
# lookup product info
#===============================================
most_similar_prods = [y[0] for y in w2v_1.wv.most_similar(positive = prod_id)]
most_similar_prods = products.loc[products["product_id"].isin(most_similar_prods), :]
display(most_similar_prods)

In [ ]:
#===============================================
# most dissimilar products
#===============================================
most_dissimilar_prods = [y[0] for y in w2v_1.wv.most_similar(negative = [prod_id])]
most_dissimilar_prods = products.loc[products["product_id"].isin(most_dissimilar_prods), :]
display(most_dissimilar_prods)

----

### In-class exercise

In [ ]:
# find the most similar products to 
prod_id = "100"

# product info for sample product
display(products.loc[products["product_id"].isin([prod_id]), :])

In [ ]:
# which products are most similar to peanut better and strawberry jam sandwich

In [ ]:
# what about the most dissimilar products?

----

# 5. Product maps using t-sne

## 5.1. Extract all product vectors

In [ ]:
#===============================================
# product vectors
#===============================================

items = [key for key in w2v_1.wv.vocab.keys()] # all product-ids
word_vec = [list(w2v_1[item]) for item in items] # "word" vector for each product id
word_vec = np.array(word_vec) # convert to array
word_vec_df = pd.DataFrame(word_vec) # convert to data frame
w2v_vec_names = ["wv" + str(x + 1) for x in range(word_vec_df.shape[1])] # column names
word_vec_df.columns = w2v_vec_names # assign column names
word_vec_df["product_id"] = items # include product id in data frame
word_vec_df["product_id"] = word_vec_df["product_id"].astype(int) # convert to type integer for later merge
word_vec_df = word_vec_df[["product_id"] + w2v_vec_names] # re-order columns
print(word_vec_df.shape)

In [ ]:
display(word_vec_df.head(10))

## Merge product vectors with product info

In [ ]:
#===============================================
# merge relevant columns
#===============================================

# relevant columns from product info
prod_info_cols = ["product_id", "product_name", "department", "aisle"]

# merge
word_vec_df = pd.merge(products[prod_info_cols], word_vec_df, on = "product_id", how = "inner")
print(word_vec_df.shape)

In [ ]:
display(word_vec_df.head(10))

## 5.2. Fit t-sne

In [ ]:
# =================================================
# fit t-sne
# =================================================
tsne = TSNE(n_components = 2, verbose = 1, perplexity = 35, n_iter = 400)

In [ ]:
# fit
t0 = time.time()
tsne_fit = tsne.fit_transform(word_vec_df[w2v_vec_names])
t1 = time.time()

In [ ]:
# time taken
f"Time Taken: {t1 - t0}"

## T-sne component data frame

In [ ]:
#===============================================
# create t-sne data frame
#===============================================

tsne_df = word_vec_df[["product_name", "department", "aisle"]]

# extract t-sne dimensions
tsne_df["x_tsne"] = tsne_fit[:,0]
tsne_df["y_tsne"] = tsne_fit[:,1]
print(tsne_df.describe())

## Plot with ggplot

In [ ]:
#===============================================
# subset data for plot
#===============================================

# select only top departments
select_dept = ["produce", "babies", "beverages"]
tsne_plot_df = tsne_df.loc[tsne_df["department"].isin(select_dept), :]
print(tsne_plot_df.shape)

In [ ]:
tsne_plot = ggplot(tsne_plot_df, aes(x = "x_tsne", y = "y_tsne", color = "department") ) \
        + geom_point(size = 70, alpha = 0.5) \
        + ggtitle("T-sne on product vectors") \
        + xlab(" ") + ylab(" ")
tsne_plot

---

## In-class exercise

## Learning embeddings using Skip-gram

- We will now use another method to train embeddings called skip-gram

In [ ]:
#===============================================
# model parameters
#===============================================

# size of embedding matrix
emb_size  # set between 50-100

# context window size
cxt_window # set between 2-10 

# batch size for gradient update
batch_size # set between 2000 to 10000

# learning rate
lr # set between 0.001 to 0.01

In [ ]:
#===============================================
# define and train model
#===============================================

t0 = time.time()
### Write model code here
t1 = time.time()

In [ ]:
# time taken
f"Time Taken: {t1 - t0}"

In [ ]:
# find the most similar products to 
prod_id = "1000"

# product info for sample product
display(products.loc[products["product_id"].isin([prod_id]), :])